/* You can add global styles to this file, and also import other style files */
body {
  overflow: hidden;
  position: fixed;
  font-size: 18px;
}
html, body, app-root, manual-app {
  height: 100%;
  display: block;
  width: 100%;
}
numbervis, zoomable, manual-app {
  display: block;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media(min-width:1000px) {
    .container {
        width: 1000px;
        margin: 0 auto;
    }
}
@media(max-width:999px) {
    .container {
        width: 99%;
        margin: 2px;
    }
    body {
        margin: 0px;
    }
}
.container {
    height: 100%;
}


@media(max-width:999px) {
    .pc-only {
        display: none;
    }
}
@media(min-width:1000px) {
    .mobile-only {
        display: none;
    }
}

button, .button {
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 14pt;
    padding: 7px 12px;
    /*box-shadow: #eee 1px 0px 0px;*/
}

button:hover, .button:hover {
    background: #ecf8ff;
    text-shadow: #fff 1px 1px 1px;
    border-color: #aaa;
    cursor: pointer;
}

button.primary {
    background: #414ccc;
    color: #fff;
    border-color: #1e235f;
}
button.primary:hover {
    background: #5f76ff;
    text-shadow: none;
}

button.disabled {
    /*pointer-events: none;*/
    background: #ccc;
    border-color: #999;
    cursor: not-allowed;
}


@media(max-width:999px) {
    label {
        display: block;
    }
}

.scrollable-content {
    position: relative;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
}